.button {
    border-radius: var(--mantine-radius-lg);
    padding: var(--mantine-spacing-xs);
    background-color: var(--mantine-color-dark-8);
    cursor: pointer;
    @mixin hover {
        background-color: var(--color-dark-7);
    }
    &[data-selected='true'] {
        background-color: var(--color-dark-7);
    }
}