.button {
    min-width: 120px;
    border: 1px solid transparent;
    border-radius: var(--mantine-radius-lg);
    padding: var(--mantine-spacing-xs);
    background-color: var(--mantine-color-dark-8);
    &[data-installed='false'] {
        img {
            filter: grayscale(100%);
        }
    }
    &:hover,
    &[data-selected='true'] {
        border: 1px solid rgba(var(--button-color), 0.25);
        background-color: rgba(var(--button-color), 0.05);
        svg {
            color: rgb(var(--button-color));
        }
    }
}