.root {
  display: grid;
}

.label {
  display: grid;
  place-items: center;
  padding: 0 rem(25);
  height: rem(47);
  border-radius: rem(12);
  border: 1px solid transparent;

  &[data-checked="true"] {
    padding: 0 rem(25);
    border: 1px solid var(--mantine-color-gray-7);
  }

  &:not([data-disabled]) {
    background-color: var(--mantine-color-dark-7);
  }
}
