.backButton {
    padding: 0;
    color: white;
    &:disabled,
    &[data-disabled] {
        background-color: transparent;
    }
    &:hover {
        text-decoration: underline;
        background-color: transparent;
    }
}