.button {
    height: rem(52);
    border-radius: rem(12);
    border: none;
    padding: var(--mantine-spacing-xs);
    background-color: var(--mantine-color-dark-6);
    cursor: pointer;
    @mixin hover {
        background-color: var(--color-dark-6);
    }
    &[data-selected='true'] {
        background-color: var(--color-dark-6);
    }
}

.modalButton {
    min-width: rem(140);
    font-size: var(--mantine-font-size-lg);
    &[data-disabled=true] {
        background-color: var(--mantine-color-dark-6);
    }
    &[data-fetching=true] {
        background-color: var(--color-blue);
        color: white;
    }
    @media (min-width: $mantine-breakpoint-sm) {
        min-width: rem(180);
    }
}