.button {
  min-width: rem(140);

  &[data-fetching="true"] {
    background-color: var(--mantine-color-dark-5);
    color: white;
  }

  @media (min-width: $mantine-breakpoint-sm) {
    min-width: rem(180);
  }
}
