.tab {
    border: 2px solid transparent;
    border-radius: var(--mantine-radius-lg);
    transition-duration: 0.3s;
    transition-property: transform;
    opacity: 0.5;
    &:active {
        transform: scale(0.95);
    }
    &[data-active] {
        border-color: rgba(255, 255, 255, 0.3);
        opacity: 1;
    }
    &:disabled {
        transform: none;
        cursor: not-allowed;
    }
    @media (max-width: $mantine-breakpoint-md) {
        flex-grow: 1;
    }
}